<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>0EBAB8D2-F10C-11ED-B05D-5185BEE194AB</string>
	<key>ProductBuildVersion</key>
	<string>22F66</string>
	<key>ProductCopyright</key>
	<string>1983-2023 Apple Inc.</string>
	<key>ProductName</key>
	<string>macOS</string>
	<key>ProductUserVisibleVersion</key>
	<string>13.4</string>
	<key>ProductVersion</key>
	<string>13.4</string>
	<key>iOSSupportVersion</key>
	<string>16.5</string>
</dict>
</plist>
