<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>F33E420C-B11A-11EE-B36C-D0F69201D0D9</string>
	<key>ProductBuildVersion</key>
	<string>23D56</string>
	<key>ProductCopyright</key>
	<string>1983-2024 Apple Inc.</string>
	<key>ProductName</key>
	<string>macOS</string>
	<key>ProductUserVisibleVersion</key>
	<string>14.3</string>
	<key>ProductVersion</key>
	<string>14.3</string>
	<key>iOSSupportVersion</key>
	<string>17.3</string>
</dict>
</plist>
