<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildID</key>
	<string>1C3BDE82-9341-11EE-86F9-C98AA6312462</string>
	<key>ProductBuildVersion</key>
	<string>23C64</string>
	<key>ProductCopyright</key>
	<string>1983-2023 Apple Inc.</string>
	<key>ProductName</key>
	<string>macOS</string>
	<key>ProductUserVisibleVersion</key>
	<string>14.2</string>
	<key>ProductVersion</key>
	<string>14.2</string>
	<key>iOSSupportVersion</key>
	<string>17.2</string>
</dict>
</plist>
